<mat-progress-bar
  *ngIf="loading$ | async"
  class="kicks-progress"
  color="accent"
  mode="indeterminate"
></mat-progress-bar>

<router-outlet></router-outlet>

<!--<div class="container">

  <div class="col-50 list-col" >
    <mdv8-list
      [data]="shoes$ | async"
      [selected]="selectedShoe$ | async"
      (selectt)="selectShoe($event)"
      (delete)="deleteShoe($event)"
    ></mdv8-list>
  </div>

  <div class="col-50">
    <mdv8-detail
      *ngIf="showDetail"
      [selected]="selectedShoe$ | async"
      (saved)="saveShoe($event)"
      (cancelled)="cancel()">
      ></mdv8-detail>
  </div>

</div>-->
