<div class="container">
  <div class="col">
    <mat-card>
      <form (submit)="onSubmit()" [formGroup]="form">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Title" formControlName="title" type="text" name="title">
            <mat-error *ngIf="form.controls.title.invalid && (form.controls.title.dirty || form.controls.title.touched)">Title is required</mat-error>
          </mat-form-field>

          <!--<div class="form-errors" >
            <div class="form-field-error mat-warn" color="warn">
              <p class="warn mat-warn" color="warn"></p>
            </div>
          </div>-->

          <mat-form-field class="full-width">
            <textarea matInput placeholder="Details" formControlName="details" type="text" name="details"></textarea>
            <mat-error *ngIf="
              form.controls.details.invalid &&
              form.controls.details.errors.required &&
              (form.controls.details.dirty || form.controls.details.touched)">
              Details required
            </mat-error>
          </mat-form-field>

          <!--<div class="form-errors" >
            <div class="form-field-error mat-warn" color="warn" >
              <p class="warn mat-warn" color="warn">details is required</p>
            </div>
          </div>-->

          <section class="full-width">
            <h3>level of coolness</h3>
            <h4>{{form.controls['coolLevel'].value}}/100 </h4>
            <mat-slider class="full-width" min="0" max="100" thumbLabel name="coolLevel" formControlName="coolLevel" required></mat-slider>
            <mat-error *ngIf="form.controls.coolLevel.invalid && (form.controls.coolLevel.dirty || form.controls.coolLevel.touched) && form.controls.coolLevel.errors.required">
              cool-level is required
            </mat-error>
          </section>
          <!--<div class="form-errors" *ngIf="form.controls.coolLevel.invalid && (form.controls.coolLevel.dirty || form.controls.coolLevel.touched)">
            <div class="form-field-error mat-warn" color="warn" *ngIf="form.controls.coolLevel.errors.required">
              <p class="warn mat-warn" color="warn">cool-level is required</p>
            </div>
          </div>-->
        </mat-card-content>

        <mat-card-actions>
          <button type="button" mat-button (click)="onCancel()" >Cancel</button>
          <button type="submit" mat-button color="primary" [disabled]="!form.valid">Save</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
